@model rda_raipur.Models.Scheme_Master

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Scheme_Master</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="scheme_id" />
            <div class="form-group">
                <label asp-for="scheme_name_en" class="control-label"></label>
                <input asp-for="scheme_name_en" class="form-control" />
                <span asp-validation-for="scheme_name_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheme_name_hi" class="control-label"></label>
                <input asp-for="scheme_name_hi" class="form-control" />
                <span asp-validation-for="scheme_name_hi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheme_sort_name_en" class="control-label"></label>
                <input asp-for="scheme_sort_name_en" class="form-control" />
                <span asp-validation-for="scheme_sort_name_en" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheme_sort_name_hi" class="control-label"></label>
                <input asp-for="scheme_sort_name_hi" class="form-control" />
                <span asp-validation-for="scheme_sort_name_hi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scheme_rera_no" class="control-label"></label>
                <input asp-for="scheme_rera_no" class="form-control" />
                <span asp-validation-for="scheme_rera_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="create_date" class="control-label"></label>
                <input asp-for="create_date" class="form-control" />
                <span asp-validation-for="create_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_date" class="control-label"></label>
                <input asp-for="updated_date" class="form-control" />
                <span asp-validation-for="updated_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_by" class="control-label"></label>
                <input asp-for="updated_by" class="form-control" />
                <span asp-validation-for="updated_by" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
